h1 {
	font-family:'Satisfy', cursive;
	font-size: 250px;
	text-align: center;
	color: rgb(0,0,128);
	text-shadow: 4px 4px white;
}

p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 140px;
	text-align: center;
	color:rgb(0,0,128);
	text-shadow: white;
}
h2 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 200px;
	text-align: center;
	color: rgb(0,0,128);
	text-shadow: 4px 4px white;
}

body {
	font-size: 90px;
	text-align: center;
	color: rgb(255,255,255);
	background-image: url(crystalsbackgrounds.jpg); 
}
