h1 {
	font-family:'Satisfy', cursive;
	font-size: 140px;
	text-align: center;
	color: rgb(255,255,255);
	text-shadow: 4px 4px darkblue;
}

p {
	font-size: 65px;
	text-align: center;
	color:rgb(0,0,128);
	text-shadow: none;
}

body {
	font-size: 90px;
	text-align: center;
	color: rgb(255,255,255);
	text-shadow: 3px 3px darkblue;
	background-color: lightblue;
}